<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
  <li>
    <%= link_to user.name %>
    (<%= link_to "add to cohorts", controller: :cohortships, action: :req, id: user.id %>)
  </li>
  <% end %>
</ul>