@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  padding-top: 10px;
  font-weight: bold;
  &:hover {
  	text-decoration: none;
  }
}

.main-content {
	padding-top: 50px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}