@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

/* application */
.main-content {
  padding-right: 0px;
  padding-left: 0px;
  height: 100%;
}

.container-fluid {
  
}

/* _header */
.main-row {
  height: 100%;
  padding-top: 0;
}

#logo {
  float: left;
  font-size: 1.7em;
  padding-top: 8px;
  font-weight: bold;
  color: #F39C12;
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
}

/* home */

.feed-container {
  float: right;
  width: 20%;
  overflow-x: hidden;
  height: 100%;
}

.user-container {
  position: relative; 
  height: 100%;
}

.main-row {
  width: 100%;  
}

/* StaticPages #Home */
.pull-right li{
  float: left;
  text-decoration: none;
}

.pull-right li a {
  &:hover {
    background-color: transparent;
  }
  &:focus {
    background-color: transparent;
  }
}

.content-container {
  float: left;
  width: 65%;
  height: 100%;
}

.username a {
  text-decoration: none;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #C0C0C0;
    &:last-child {
      border-bottom: 1px solid #C0C0C0;
    }
  }
}

/* _feed */

.posts {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
  li {
    padding: 5px 0;
    border-bottom: 1px solid #e8e8e8;
    a {
      text-decoration: none;
    }
  }
}

/* _feed_item */
.feed-wrapper {
  height: 100%;
  overflow-y: scroll;
}

.feed-item {
  .content {
    font-size: 18px;
    display: block;
  }
  .timestamp {
    display: block;
  }
}

/* _user_info */

.user-info {
  position: relative;
}

.username-container {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 5px;
  padding-bottom: 60px;
}

.username {
  font-size: 24px;
  float: left;
  margin-left: 5%;
}

.post-btn {
  width: 55px;
  height: 30px;
  margin-right: 5%;
  float: right;
  position: absolute;
  top: 25%;
  bottom: 25%;
  right: 0;
}

.panel-button-container {
  position: relative;
  top: 0;
  left: 0;
  margin-top: -5%;
  border-bottom: 1px solid #e8e8e8;
}

.panel-buttons {
  position: relative;
}

/* _show */
.post-container {
  width: 80%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
} 
.post-title {
  text-align: center;
  a {
    text-decoration: none;
  }
}
.post-user {
  text-align: center;
  font-style: italic;
  color: #999;
}

.post-content {
  font-family: 'Source Sans Pro';
  padding: 2% 7% 0 10%;
  p {
    font-size: 18px;
  }
}

.post-comments ol {
  list-style: none;
  padding: 0;
}

.comment-container {
  font-family: 'Source Sans Pro';
  border-top: 1px solid #C0C0C0;
  margin-top: 3%;
  
}
.comment-name {
  display: block;
  font-size: 18px;
  padding-top: 3%;
  padding-bottom: 1%;
}
.comment-text {
  font-size: 16px;
}

.new-comment-container {
  padding: 5% 0 15% 0;
  position: relative;
  width: 75%;
  margin: 0 auto;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.content {
  display: block;
  text-align: left;
}

.author {
  color: #C0C0C0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.hidden-col {
  visibility: hidden;
}
